<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks You</title>
</head>
<body style="text-align: center">
    <h2 style="font-family: Roboto; margin: 200px auto 20px auto"> Thanks you for your response </h2>
    <button style="border: none ; outline: none ; width: 150px ; height: 50px; border-radius: 5px ; background-color: aqua ;  cursor: pointer" ><a href="/app/download_link/">Download</a></button>
</body>
</html>